.trickcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
    margin-right: 50px;
    border-radius: 15px;
}